{% extends "base.html" %}
{%block main_content%}
	<div class="main-page">
	<h2>Generate a poem!</h2>

	<form  action="" method="post">
		{{ form.hidden_tag() }}
	  <div class="form-inline">
		<p>
		  {{ form.theme }}
		  {% for error in form.theme.errors %}
		  <span style="color: red;">[{{ error }}]</span>
		  {% endfor %}
	   {{ form.submit() }}
	  </p>
	<h3>Theme of generated poem: {{ form.theme.data }}</h3>
	<p>start time:{{starttime}}</p>
	<p>end time:{{time}}</p>
	{% for line in s1%}
		<p>{{line}}</p>
	{%endfor%}
	<br>
	{% for line in s2%}
		<p>{{line}}</p>
	{%endfor%}
	<br>
	{% for line in s3%}
		<p>{{line}}</p>
	{%endfor%}
	<br>
	{% for line in s4%}
		<p>{{line}}</p>
	{%endfor%}
	<br>
	<br>
	</div>
	</form>
</div>
{%endblock%}
